*~
*.a
*.la
*.lai
*.lo
*.Plo
*.o
*.so
*.so.[0-9][0-9]*
*.so.[0-9][0-9]*.[0-9][0-9]*.[0-9][0-9]*
.debs
.libs
aclocal.m4
autom4te.cache/
common/config.h
common/stamp-h1
common/types.h
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
dpkg/changelog
dpkg/copyright
include/libcerror.h
include/libcerror/definitions.h
include/libcerror/extern.h
include/libcerror/features.h
include/libcerror/types.h
install-sh
libcerror.pc
libcerror.spec
libcerror/libcerror.rc
libcerror/libcerror_definitions.h
libtool
ltmain.sh
m4/gettext.m4
m4/iconv.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/progtest.m4
Makefile
Makefile.in
missing
po/ChangeLog
po/Makefile.in.in
po/Makevars
po/Makevars.template
po/POTFILES
po/POTFILES.in
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
