Source: libcerror
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libcerror
Vcs-Git: https://github.com/libyal/libcerror.git

Package: libcerror
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libcerror1
Replaces: libcerror1
Suggests: libcerror-dbg
Description: Library to support cross-platform C error functions
 libcerror is a library to support cross-platform C error functions.

Package: libcerror-dbg
Architecture: any
Section: debug
Depends: libcerror (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libcerror
 Debugging symbols for libcerror.

Package: libcerror-dev
Section: libdevel
Architecture: any
Depends: libcerror (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libcerror
 Header files and libraries for developing applications for libcerror.

