#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh  $@

install_libcerror:
	# Set up libcerror package directories and files
	mkdir -p debian/libcerror/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libcerror/usr/lib

install_libcerror_dev:
	# Set up libcerror-dev package directories and files
	mkdir -p debian/libcerror-dev/usr/include
	mkdir -p debian/libcerror-dev/usr/include/libcerror
	mkdir -p debian/libcerror-dev/usr/lib
	mkdir -p debian/libcerror-dev/usr/lib/pkgconfig
	mkdir -p debian/libcerror-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libcerror-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libcerror/*.h debian/libcerror-dev/usr/include/libcerror
	install -p -m755 debian/tmp/usr/lib/*.la debian/libcerror-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libcerror-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libcerror-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libcerror-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libcerror-dev/usr/share/man/man3

override_dh_installinit: install_libcerror install_libcerror_dev

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

